body {
    width: 1000px;
    height: auto;
    margin: 20px auto;
    border: 2px solid black;
}
nav {
    height: 30px;
    display: flex;
    flex: 1;
    align-items: center; 
    text-align: right;
    background-color: black;
}
a:hover {
    background: white;
    color: black;
}
a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
footer {
    text-align: center;
}
article{
    margin-left:50px;
}
